.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.logo {
  position: fixed;
  top: 8px;
  left: 8px;
  z-index: 0;
}

.about {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 2;
}

.about button {
  background: none;
  border: none;
  font-family: var(--font-mono);
}

.aboutContent {
  max-width: var(--max-width);
  font-family: var(--font-mono);
  font-size: 0.8rem;
  padding: 2rem 1rem 1.4rem;
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
  background: linear-gradient(
    to bottom,
    rgba(var(--background-start-rgb), 0.6),
    rgba(var(--callout-rgb), 0.5)
  );
  background-clip: padding-box;
  backdrop-filter: blur(24px);
}

.scene {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1000ms ease-in-out;
}

.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1000ms ease-in-out;
}

.cell {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell img {
  user-select: none;
  object-fit: contain;
}
