.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  cursor: grabbing;
}

.logo {
  position: fixed;
  top: 8px;
  left: 8px;
  z-index: 0;
}

.scene {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1000ms ease-in-out;
}

.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1000ms ease-in-out;
}

.cell {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell img {
  user-select: none;
  object-fit: contain;
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}
